<h1>About Bloccit</h1>
<p>Created by: Me</p>

<%= link_to "Twitter", "http://www.twitter.com/danztweet", class: "social-btn" %>

<a class="btn btn-default" href="http://www.twitter.com/danztweet">Twitter</a>